* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#renderCanvas {
  width: 100vw;
  height: 100vh;
  display: block;
  font-size: 0;
}

.container {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.modes {
  padding: 8px;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modes > div {
  margin: auto 0;
}

.modes button {
  padding: 4px 8px;
  margin: 0 4px;
  border: none;
  font-weight: 900;
}

#info {
  color: white;
  font-weight: 900;

  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.selected-mode {
  background-color: rgb(117, 43, 255);
}
